<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">胡师姐新传考研<br></div>
                <div class="intro-lead-in">专业从事新传考研辅导6年</div>
                <div class="intro-lead-in">带出百余名学员成功考上北大等名校</div>
                <a href="#intro" class="page-scroll btn btn-xl">更多内容</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
